<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

 <title>gists(<%= @user %>)</title>
 <link href="http://gist.github.com/<%= @user %>"/>
 <updated><%= @gistsJson[0]['created_at'] %></updated><!-- 更新日=最新のgist -->
 <author>
   <name><%= @user %></name> <!-- アカウント名 -->
 </author>

<% @gistsJson.each do |j| %>
 <entry>
   <title><%= j['description'] %></title>
   <link href="<%= j['html_url'] %>"/>
   <updated><%= j['created_at'] %></updated> <!-- 更新日 -->
   <!-- summary><%= j['description'] %></summary --> 
   <content type="html">&lt;pre&gt;&lt;code&gt;
<%= @contents[j['id']]['raw'] %>
   &lt;/pre&gt;&lt;/code&gt;</content>
 </entry>
<% end %>

</feed>

<!--
<%= JSON.pretty_generate(@gistsJson) %>
-->
